.header { grid-area: header; }
.menu { grid-area: menu; }
.main { grid-area: main; }
.footer { grid-area: footer; }

.grid-container {
    display: grid;
    grid-template-areas:
      'header header header header header header'
      'menu main main main main main'
      'menu footer footer footer footer footer';
    background-color: #2196F3;
    grid-gap: 1px;
  }
  .header{
    background-color: grey;
    text-align: center;
    font-size: 25px;
    padding: 25px;
  }
  .menu{
    background-color: red;
    text-align: center;
    font-size: 25px;
    padding: 25px;
  }
  .main{
    background-color: green;
    text-align: center;
    font-size: 25px;
    padding: 25px;
  }
  .footer{
    background-color: blue;
    text-align: center;
    font-size: 25px;
    padding: 25px;
  }
  