@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

#header { grid-area: header; }
#menu { grid-area: menu; }
#main { grid-area: main; }
#footer { grid-area: footer; }


#grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main main main'
    'footer footer footer footer footer footer';
  background-color: #2196F3;
  grid-gap: 1px;
  width: 80%;
  margin:auto;
  max-height: 90%;
}
#header{
  background-color: #05386B;
  text-align: center;
  font-size: 25px;
  padding: 25px;
}
#menu_container{
  background-color: #05386B;
  text-align: center;
  font-size: 25px;
  padding: 25px;
  overflow: auto;
  max-height: 38rem;
  min-width: 8rem;
  

}
#main{
  background-color: #05386B;
  text-align: center;
  font-size: 25px;
  padding: 25px;
  min-height: 38rem;

}
#eventMain{
  background-color: #05386B;
  text-align: center;
  font-size: 25px;
  padding: 0px;
  margin: 0;

}
#footer{
  background-color: #05386B;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  padding: 25px;
}
#headerLogo{
  width: 15rem;
}
body{
  color: #f4f5e1;
}
ul {
  list-style-type: none;
  text-align: center;
  margin-right: 10%;
}
li {
  border: 1px black solid;
  padding-top: 14px;
  padding-bottom: 14px;
  margin: 10px;
  background-color: #45af75;
  text-transform: uppercase;
  color: #f4f5e1;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}
li:hover {
  background-color: #379683;
}
a{
  text-decoration: none;
}
h2, h1 {
  font-family: 'Lato', sans-serif;
}
.teamList{
  padding-top: 8px;
  padding-bottom: 8px;
}
